@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --BORDER-RADIUS-BUBBLE: 99em;
  --COLOR-DARK: rgba(41, 41, 41, 1);
  --COLOR-LIGHT: rgb(255, 255, 255);
  --COLOR-GREY: rgba(117, 117, 117, 1);
  --COLOR-LIGHT-GREY: rgb(204, 204, 204);
  --COLOR-SEARCH: rgba(0, 0, 0, 0.03);
  --COLOR-ACTIVE: rgb(26, 137, 23);
  --COLOR-ACTIVE-HOVER: rgb(23, 122, 20);
  --COLOR-SEPERATOR: rgb(240, 240, 240);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.crp {
  cursor: pointer;
}

/*  || BUTTONS */
.btn-select {
  background-color: var(--COLOR-LIGHT);
  border: 1px solid var(--COLOR-LIGHT-GREY);
  border-radius: var(--BORDER-RADIUS-BUBBLE);
  color: var(--COLOR-GREY);
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  padding: 6px 12px;
  text-transform: capitalize;
  transition: all 200ms ease-in;
}

.btn-num {
  height: 40px;
  width: 40px;
  padding: 0;
}

.btn-page {
  color: var(--COLOR-GREY);
  border: none;
  height: 25px;
  width: 25px;
  padding: 0;
}

.btn-page-nav {
  background-color: transparent;
  color: var(--COLOR-GREY);
  border: none;
  border-radius: 0;
  height: 25px;
  width: 25px;
  transition: color 200ms ease-in;
}

.btn-select:hover {
  border-color: var(--COLOR-GREY);
  background-color: var(--COLOR-GREY);
  color: var(--COLOR-LIGHT);
}

.btn-active {
  border-color: var(--COLOR-ACTIVE);
  color: var(--COLOR-ACTIVE);
}

.page-active {
  border-color: var(--COLOR-ACTIVE);
  background-color: var(--COLOR-ACTIVE);
  color: var(--COLOR-LIGHT);
}

.btn-page-nav-active {
  color: var(--COLOR-ACTIVE);
  cursor: pointer;
}

.btn-select.btn-active:hover {
  border-color: var(--COLOR-ACTIVE);
  background-color: var(--COLOR-ACTIVE);
  color: var(--COLOR-LIGHT);
}

.btn-reset {
  background-color: var(--COLOR-LIGHT);
  border: 1px solid var(--COLOR-GREY);
  border-radius: var(--BORDER-RADIUS-BUBBLE);
  color: var(--COLOR-GREY);
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  padding: 6px 12px;
  text-transform: capitalize;
  transition: all 200ms ease-in;
  margin-bottom: 25px;
}

.btn-disable {
  pointer-events: none;
}

.btn-reset:hover {
  border-color: var(--COLOR-GREY);
  background-color: var(--COLOR-GREY);
  color: var(--COLOR-LIGHT);
}

.btn-page-nav:hover {
  color: var(--COLOR-GREY);
}

/* || HEADER */
.header__container {
  display: flex;
  gap: 25px;
  align-items: center;
  padding: 0 24px;
  height: 57px;
  border-bottom: 1px solid var(--COLOR-SEPERATOR);
  position: sticky;
  top: 0;
  background-color: var(--COLOR-LIGHT);
  z-index: 1;
}

.main-header__title {
  display: flex;
  align-items: center;
  height: 100%;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: -1.5px;
  color: var(--COLOR-DARK);
}

/*  || SECTION */
.section__container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: auto;
  max-width: 1150px;
  max-height: 100%;
}

.section-main__container,
.side-main__container {
  padding: 25px;
}

.section-main__container {
  display: flex;
  flex-direction: column;
}

.section-side__container {
  border-left: 1px solid var(--COLOR-SEPERATOR);
}

/*  || SEARCH */
.search-results__title {
  font-size: 42px;
  line-height: 52px;
  font-weight: 500;
  color: var(--COLOR-GREY);
  margin-bottom: 45px;
}

.search-results__title span {
  color: var(--COLOR-DARK);
}

/*  || FILTER */
.side-main__container {
  position: sticky;
  top: 57px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.filter-number__container,
.filter-cuisine__container {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  margin-bottom: 25px;
}

.side-main__container h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 25px;
}

.side-main__container h3 {
  font-size: 16px;
  font-weight: 400;
}

/*  || SEARCH ITEM */
.search-item__container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--COLOR-SEPERATOR);
  padding: 25px 0 35px;
}

.search-item-image {
  height: 112px;
  width: 112px;
  cursor: pointer;
}

.search-item-title {
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  word-break: break-word;
  height: 100%;
  max-height: 84px;
}

/* || SEARCHBAR */
form {
  display: flex;
  width: 100%;
}

.search-bar__input {
  width: 240px;
  height: 20px;
  padding-right: 50px;
  border-radius: var(--BORDER-RADIUS-BUBBLE);
  padding: 20px 16px;
  font-size: 13px;
  border: none;
  background-color: var(--COLOR-SEARCH);
}

.btn-search {
  background-color: transparent;
  margin-left: -30px;
  height: 20px;
  width: 30px;
  padding: 20px 8px;
  border-top-right-radius: var(--BORDER-RADIUS-BUBBLE);
  border-bottom-right-radius: var(--BORDER-RADIUS-BUBBLE);
  border: none;
  cursor: pointer;
  position: relative;
}

.search-icon {
  margin: auto;
  height: 18px;
  position: absolute;
  top: 11px;
  left: 0;
}

/* || PAGINATION */
.pagination__container {
  display: flex;
  justify-content: center;
  gap: 12px;
  max-width: 100%;
}

.pagination__container span {
  color: var(--COLOR-GREY);
}

.page-btn__container {
  display: flex;
  justify-content: center;
  gap: 5px;
}

/* || RECIPE */
.recipe-header__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.recipe__title {
  font-size: 32px;
  line-height: 40px;
}

.recipe__image {
  width: 100%;
}

.recipe-summary__container,
.instructions__container ol {
  line-height: 32px;
  letter-spacing: -0.005em;
  font-size: 18px;
}

.instructions__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 35px;
}

.instructions__container h2 {
  line-height: 28px;
  font-size: 22px;
  font-weight: 600;
}

.instructions__container ol {
  list-style: decimal;
  padding-left: 20px;
}

.health__container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.ingredients__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ingredients__container  h2 {
  margin: 0;
}

.ingredients__container ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* || LOADING */
.loading__container {
  height: min(600px, calc(100vh - 114px));
  width: 100%;
  display: flex;
  justify-content: center;
}